In [47]:
from utils.df_handle import *
import httplib2
import os
from google.oauth2 import service_account
from googleapiclient import discovery
import pandas as pd
import numpy as np
import unidecode
from datetime import datetime

In [48]:
# scopes = ['https://www.googleapis.com/auth/spreadsheets','https://www.googleapis.com/auth/drive','https://www.googleapis.com/auth/drive.file']
# jsonfile = os.path.join(os.getcwd(),'D:\Document\datateam1599968716114-6f9f144b4262.json')
# credentials = service_account.Credentials.from_service_account_file(jsonfile, scopes = scopes)
# service = discovery.build('sheets','v4',credentials = credentials)

In [49]:
URL = 'https://docs.google.com/spreadsheets/d/e/2PACX-1vSYWdHL8hh3RoQTe4dAaidvJ83sbrKiZm9gseWgNru2uWRtfpKzYY87ix9rjl5AK5F7Fa3VGpGA4QgQ/pub?gid=1596587810&single=true&output=csv'

In [50]:
df =pd.read_csv(URL, dayfirst=True, parse_dates=['Timestamp'])

In [51]:
df.columns = cleancols(df)
df.columns = lower_col(df)

In [52]:
df.rename({'ghichuvethongtinthanhtoan':'thongtinthanhtoan','tennhanvienbanhang':'tencvbh','timestamp':'thoigiangoi'}
          ,axis='columns',inplace =True)
# df['inserted_at'] = datetime.now()

In [53]:
df1=df[['manv','thongtinthanhtoan','giaiphap','thoigiangoi','makhcu']]

In [54]:
df1.head()

,manv,thongtinthanhtoan,giaiphap,thoigiangoi,makhcu
0,MR0620,Chị Thanh nghỉ 1 tuần nên chưa hỏi được thông ...,23 ghé vào trung tâm lại,2022-05-16 16:29:30,N0210225
1,MR0620,Qua tuần sẽ thanh toán,Sẽ nhắc lại chị Tý,2022-05-16 16:30:35,P5008-0255

In [55]:
def update_table():
	df = df1
	pk = ['manv','makhcu','thoigiangoi']
	execute_values_upsert(df, "d_tttt_ins",pk)

In [56]:
def main():  
    update_table()

In [57]:
if __name__ == "__main__":
    main()

INSERT INTO d_tttt_ins(manv,thongtinthanhtoan,giaiphap,thoigiangoi,makhcu) VALUES %s ON CONFLICT (manv, makhcu, thoigiangoi) DO UPDATE SET thongtinthanhtoan = excluded.thongtinthanhtoan, giaiphap = excluded.giaiphap
Data inserted using execute_values() successfully..